<!--//================Footer start==============//-->
<footer class="main_footer">
    <div class="container">
        <div class="footer-box padT80 padB40">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec marB30">
                        <figure class="marB10">
                            <img src="assets/img/all/footer-logo.png" alt=""/>
                        </figure>
                        <p>
                            Lorem ipsum dolor sit amet conse tetur
                            adipisicing lorem ipsum dolor sit amet
                            conse ctetur adipisicing sed do eiusmod
                            tempor . sed do eiusmod tempor conse
                            ctetur adipisicing sed do eiusmod.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec marB30">
                        <h3 class="colorW marB20">Customer care</h3>
                        <p>Cosmetic shop <br>Good Town 122,Food Center</p>
                        <p>011 212 222 3499<br>
                            012 445 887 8888<br>
                            551 894 785 1589
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec marB30">
                        <h3 class="colorW marB20">Your account</h3>
                        <ul class="pad0">
                            <li><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>My Wishlist</a></li>
                            <li><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>Menu item Number</a></li>
                            <li><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>Menu item 4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>Menu Item Five</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec foot-img-box marB30">
                        <h3 class="colorW marB20">Gallery</h3>
                        <ul class="pad0">
                            <li><a href="#"><img src="assets/img/all/foot-001%20(1).jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/img/all/foot-001%20(2).jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/img/all/foot-001%20(3).jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/img/all/foot-001%20(4).jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/img/all/foot-001%20(5).jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/img/all/foot-001%20(6).jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/img/all/foot-001%20(7).jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/img/all/foot-001%20(8).jpg" alt=""/></a></li>
                        </ul>
                        <p><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>View more</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec marB30">
                        <h3 class="colorW marB20">Social media</h3>
                        <ul class="social-icon">
                            <li><a href="#" class="theme-circle marR10"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="theme-circle marR10"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="theme-circle marR10"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec marB30">
                        <h3 class="colorW marB20">Newsletter</h3>
                        <form class="search_bar">
                            <input type="text" name="search" placeholder="Search..">
                            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer padTB20 bagB">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center colorW">
                    <p>Copyright 2017  All Right Reserved <a href="http://www.itgeeksin.com/"><span class="theme-color">tmahamadou</span></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-background">
        <figure class="top-left">
            <img src="assets/img/background/footer-back-1.png" alt=""/>
        </figure>
        <figure class="bottom-right">
            <img src="assets/img/background/footer-back-2.png" alt=""/>
        </figure>
    </div>
</footer>
<!--//================Footer end==============//-->