{% extends "::base.html.twig" %}
{% block body %}
    {{ include('MarmitonBundle:Default:header.html.twig') }}
<div class="clear"></div>
    {{ include('MarmitonBundle:Default:slider.html.twig') }}
    {{ include('MarmitonBundle:Default:service.html.twig') }}

<div class="clear"></div>
<!--//================Featured Dishes start==============//-->
<section class="padT100 padB100">
    <!--- Theme heading start-->
    <div class="theme-heading marB50 positionR">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12  col-md-offset-3 col-sm-offset-2 col-xs-offset-0 heading-box text-center">
                    <h1>Our Featured Dishes</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem
                        quam, adipiscing condimentum
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--- Theme heading end-->
    <div class="container">
        <div class="row">
            <div id="collection-slider" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="col-md-12">
                        <div class="collection-box theme-hover sticker">
                            <figure class="marB20">
                                <img src="assets/img/dishes/1.jpg" alt=""/>
                            </figure>
                            <h3 class="marB10"><a href="#">Muffins</a></h3>
                            <p>Integr lorem quam adipiscing the
                                tristique , eleifend turpis Pelle
                                tesque cursus arcu
                            </p>
                            <a href="#" class="colorB">Order Now</a>
                            <div class="sticker-box">
                                <span class="sticker-tag">Only 12.99 $</span>
                                <br>
                                <span class="sticker-tag">10% OFF</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <div class="collection-box theme-hover sticker">
                            <figure class="marB20">
                                <img src="assets/img/dishes/2.jpg" alt=""/>
                            </figure>
                            <h3 class="marB10"><a href="#">Juice</a></h3>
                            <p>Integr lorem quam adipiscing the
                                tristique , eleifend turpis Pelle
                                tesque cursus arcu
                            </p>
                            <a href="#" class="colorB">Order Now</a>
                            <div class="sticker-box">
                                <span class="sticker-tag">Only 12.99 $</span>
                                <br>
                                <span class="sticker-tag">10% OFF</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <div class="collection-box theme-hover sticker">
                            <figure class="marB20">
                                <img src="assets/img/dishes/3.jpg" alt=""/>
                            </figure>
                            <h3 class="marB10"><a href="#">BBQ chicken</a></h3>
                            <p>Integr lorem quam adipiscing the
                                tristique , eleifend turpis Pelle
                                tesque cursus arcu
                            </p>
                            <a href="#" class="colorB">Order Now</a>
                            <div class="sticker-box">
                                <span class="sticker-tag">Only 12.99 $</span>
                                <br>
                                <span class="sticker-tag">10% OFF</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <div class="collection-box theme-hover sticker">
                            <figure class="marB20">
                                <img src="assets/img/dishes/4.jpg" alt=""/>
                            </figure>
                            <h3 class="marB10"><a href="#">Salade</a></h3>
                            <p>Integr lorem quam adipiscing the
                                tristique , eleifend turpis Pelle
                                tesque cursus arcu
                            </p>
                            <a href="#" class="colorB">Order Now</a>
                            <div class="sticker-box">
                                <span class="sticker-tag">Only 12.99 $</span>
                                <br>
                                <span class="sticker-tag">10% OFF</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <div class="collection-box theme-hover sticker">
                            <figure class="marB20">
                                <img src="assets/img/dishes/5.jpg" alt=""/>
                            </figure>
                            <h3 class="marB10"><a href="#">BBQ chicken</a></h3>
                            <p>Integr lorem quam adipiscing the
                                tristique , eleifend turpis Pelle
                                tesque cursus arcu
                            </p>
                            <a href="#" class="colorB">Order Now</a>
                            <div class="sticker-box">
                                <span class="sticker-tag">Only 12.99 $</span>
                                <br>
                                <span class="sticker-tag">10% OFF</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Featured Dishes end==============//-->
<div class="clear"></div>
<!--//================Banner starts==============//-->
<section>
    <div class="special-style overlay">
        <div class="special-banner-image parallax-style"></div>
    </div>
    <div class="padT100 padB70">
        <!--- Theme heading start-->
        <div class="theme-heading background marB50 positionR">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12  col-md-offset-3 col-sm-offset-2 col-xs-offset-0 heading-box text-center">
                        <h1>We are bourn to make you foodie</h1>
                        <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem
                            quam, adipiscing condimentum
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--- Theme heading end-->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="facts text-center marB30">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                        <h3>Amazing dishes</h3>
                        <div class="count-number" data-count="2500">
                            <h1><span class="counter">2500</span> +</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="facts text-center marB30">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                        <h3>Satisfied staff</h3>
                        <div class="count-number" data-count="1200">
                            <h1><span class="counter">1200</span> +</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="facts text-center marB30">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                        <h3>Happy customers</h3>
                        <div class="count-number" data-count="2200">
                            <h1><span class="counter">2200</span> +</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Banner end==============//-->
<div class="clear"></div>
<!--//================Menu start==============//-->
<section class="padT100 padB70">
    <!--- Theme heading start-->
    <div class="theme-heading marB50 positionR">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12  col-md-offset-3 col-sm-offset-2 col-xs-offset-0 heading-box text-center">
                    <h1>Menu of the day</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem
                        quam, adipiscing condimentum
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--- Theme heading end-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="collection-box theme-hover sticker marB50">
                    <figure class="marB20">
                        <img src="assets/img/dishes/6.jpg" alt=""/>
                    </figure>
                    <h3 class="marB10"><a href="#">Chinese food</a></h3>
                    <p>Integr lorem quam adipiscing the
                        tristique , eleifend turpis Pelle
                        tesque cursus arcu
                    </p>
                    <a href="#" class="colorB">Order Now</a>
                    <div class="sticker-box">
                        <span class="sticker-tag">Only 12.99 $</span>
                        <br>
                        <span class="sticker-tag">10% OFF</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="collection-box theme-hover sticker marB50">
                    <figure class="marB20">
                        <img src="assets/img/dishes/7.jpg" alt=""/>
                    </figure>
                    <h3 class="marB10"><a href="#">Italian pizza</a></h3>
                    <p>Integr lorem quam adipiscing the
                        tristique , eleifend turpis Pelle
                        tesque cursus arcu
                    </p>
                    <a href="#" class="colorB">Order Now</a>
                    <div class="sticker-box">
                        <span class="sticker-tag">Only 12.99 $</span>
                        <br>
                        <span class="sticker-tag">10% OFF</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="collection-box theme-hover sticker marB50">
                    <figure class="marB20">
                        <img src="assets/img/dishes/8.jpg" alt=""/>
                    </figure>
                    <h3 class="marB10"><a href="#">Icecreams</a></h3>
                    <p>Integr lorem quam adipiscing the
                        tristique , eleifend turpis Pelle
                        tesque cursus arcu
                    </p>
                    <a href="#" class="colorB">Order Now</a>
                    <div class="sticker-box">
                        <span class="sticker-tag">Only 12.99 $</span>
                        <br>
                        <span class="sticker-tag">10% OFF</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="collection-box theme-hover sticker marB50">
                    <figure class="marB20">
                        <img src="assets/img/dishes/9.jpg" alt=""/>
                    </figure>
                    <h3 class="marB10"><a href="#">Kids meals</a></h3>
                    <p>Integr lorem quam adipiscing the
                        tristique , eleifend turpis Pelle
                        tesque cursus arcu
                    </p>
                    <a href="#" class="colorB">Order Now</a>
                    <div class="sticker-box">
                        <span class="sticker-tag">Only 12.99 $</span>
                        <br>
                        <span class="sticker-tag">10% OFF</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="collection-box theme-hover sticker marB50">
                    <figure class="marB20">
                        <img src="assets/img/dishes/10.jpg" alt=""/>
                    </figure>
                    <h3 class="marB10"><a href="#">Drinks</a></h3>
                    <p>Integr lorem quam adipiscing the
                        tristique , eleifend turpis Pelle
                        tesque cursus arcu
                    </p>
                    <a href="#" class="colorB">Order Now</a>
                    <div class="sticker-box">
                        <span class="sticker-tag">Only 12.99 $</span>
                        <br>
                        <span class="sticker-tag">10% OFF</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="collection-box theme-hover sticker marB50">
                    <figure class="marB20">
                        <img src="assets/img/dishes/11.jpg" alt=""/>
                    </figure>
                    <h3 class="marB10"><a href="#">Cakes</a></h3>
                    <p>Integr lorem quam adipiscing the
                        tristique , eleifend turpis Pelle
                        tesque cursus arcu
                    </p>
                    <a href="#" class="colorB">Order Now</a>
                    <div class="sticker-box">
                        <span class="sticker-tag">Only 12.99 $</span>
                        <br>
                        <span class="sticker-tag">10% OFF</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="collection-box theme-hover sticker marB50">
                    <figure class="marB20">
                        <img src="assets/img/dishes/12.jpg" alt=""/>
                    </figure>
                    <h3 class="marB10"><a href="#">Treditionals</a></h3>
                    <p>Integr lorem quam adipiscing the
                        tristique , eleifend turpis Pelle
                        tesque cursus arcu
                    </p>
                    <a href="#" class="colorB">Order Now</a>
                    <div class="sticker-box">
                        <span class="sticker-tag">Only 12.99 $</span>
                        <br>
                        <span class="sticker-tag">10% OFF</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="collection-box theme-hover sticker marB50">
                    <figure class="marB20">
                        <img src="assets/img/dishes/13.jpg" alt=""/>
                    </figure>
                    <h3 class="marB10"><a href="#">Chicken & meat</a></h3>
                    <p>Integr lorem quam adipiscing the
                        tristique , eleifend turpis Pelle
                        tesque cursus arcu
                    </p>
                    <a href="#" class="colorB">Order Now</a>
                    <div class="sticker-box">
                        <span class="sticker-tag">Only 12.99 $</span>
                        <br>
                        <span class="sticker-tag">10% OFF</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-background">
        <figure>
            <img src="assets/img/background/menu-back.png" alt=""/>
        </figure>
    </div>
</section>
<!--//================Menu end==============//-->
<div class="clear"></div>
<!--//================Video start==============//-->
<section>
    <div class="special-style overlay">
        <div class="special-video-image parallax-style"></div>
    </div>
    <div class="padT100 padB70">
        <!--- Theme heading start-->
        <div class="theme-heading background marB50 positionR">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12  col-md-offset-3 col-sm-offset-2 col-xs-offset-0 heading-box text-center">
                        <h1>Opening hours</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem
                            quam, adipiscing condimentum
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--- Theme heading end-->
        <div class="container">
            <div class="opening-box text-center">
                <div class="opening-hours pad40">
                    <h2>Monday to friday </h2>
                    <h1>09:00 to 12:00</h1>
                </div>
                <div class="opening-hours marB30 pad40">
                    <h2>Saturday & sunday</h2>
                    <h1>08:00 to 03:00</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Video end==============//-->
<div class="clear"></div>
<!--//================Special Menu start==============//-->
<section class="padT100 padB70">
    <!--- Theme heading start-->
    <div class="theme-heading marB50 positionR">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12  col-md-offset-3 col-sm-offset-2 col-xs-offset-0 heading-box text-center">
                    <h1>Some special menu</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem
                        quam, adipiscing condimentum
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--- Theme heading end-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="tab text-center marB50">
                    <a class="tablinks active" data-id="lunch">Lunch</a>
                    <a class="tablinks" data-id="breakfast">Breakfast</a>
                    <a class="tablinks " data-id="desert">Desert</a>
                    <a class="tablinks " data-id="pizza">Fresh pizza</a>
                    <a class="tablinks " data-id="dinner">Dinner</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="lunch" class="tabcontent" style="display:block;" >
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/14.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Chees pizza </a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/15.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Drinks</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/16.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Icecreams</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/17.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Pasta</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/18.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Cakes</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/19.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Noodels</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="breakfast" class="tabcontent">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/19.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Noodels</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/18.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Cakes</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/17.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Pasta</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/16.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Icecreams</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/14.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Chees pizza </a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/15.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Drinks</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="desert" class="tabcontent">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/14.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Chees pizza </a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/15.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Drinks</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/17.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Pasta</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/16.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Icecreams</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/19.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Noodels</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/18.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Cakes</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pizza" class="tabcontent">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/15.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Drinks</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/18.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Cakes</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/19.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Noodels</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/17.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Pasta</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/16.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Icecreams</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/14.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Chees pizza </a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dinner" class="tabcontent">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/17.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Pasta</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/19.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Noodels</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/18.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Cakes</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/14.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Chees pizza </a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/16.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Icecreams</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="menu-list-box marB30">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <figure>
                                    <img src="assets/img/dishes/15.jpg" alt=""/>
                                </figure>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <h3><a href="#">Drinks</a><span class="theme-color">$15.00</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                    elit. Integer lorem quam, adipiscing condi
                                    lorem quam, adipiscing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Special Menu end==============//-->
<div class="clear"></div>
<!--//================ Our Team start ==============//-->
<section class="padT100  grey-bg team">
    <!--- Theme heading start-->
    <div class="theme-heading marB50 positionR">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12  col-md-offset-3 col-sm-offset-2 col-xs-offset-0 heading-box text-center">
                    <h1>Meet our chefs</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem
                        quam, adipiscing condimentum
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--- Theme heading end-->
    <div class="container">
        <div class="row">
            <div class="our-team">
                <div id="team-slider" class="owl-carousel owl-theme slider positionR">
                    <div class="item">
                        <div class="col-xs-12">
                            <div class="team-member grey-bg text-center marB30">
                                <figure class="marB30">
                                    <img src="assets/img/team/1.jpg" alt=""/>
                                </figure>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                                <hr>
                                <h4><a href="#">Lorem ipsum</a></h4>
                                <p>(Head Chef)</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12">
                            <div class="team-member grey-bg text-center marB30">
                                <figure class="marB30">
                                    <img src="assets/img/team/2.jpg" alt=""/>
                                </figure>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                                <hr>
                                <h4><a href="#">Lorem ipsum</a></h4>
                                <p>(Chinese Chef)</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12">
                            <div class="team-member grey-bg text-center marB30">
                                <figure class="marB30">
                                    <img src="assets/img/team/3.jpg" alt=""/>
                                </figure>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                                <hr>
                                <h4><a href="#">Lorem ipsum</a></h4>
                                <p>(Non-veg Chef)</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12">
                            <div class="team-member grey-bg text-center marB30">
                                <figure class="marB30">
                                    <img src="assets/img/team/4.jpg" alt=""/>
                                </figure>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                                <hr>
                                <h4><a href="#">Lorem ipsum</a></h4>
                                <p>(Veg Chef)</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12">
                            <div class="team-member grey-bg text-center marB30">
                                <figure class="marB30">
                                    <img src="assets/img/team/1.jpg" alt=""/>
                                </figure>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                                <hr>
                                <h4><a href="#">Lorem ipsum</a></h4>
                                <p>(Head Chef)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================ Our Team end ==============//-->

<div class="clear"></div>
<!--//================ Our Partner start ==============//-->
<div class="container marB100">
    <div class="row">
        <div id="partner-slider" class="owl-carousel owl-theme owl-loaded owl-drag">
            <div class="col-xs-12">
                <div class="item">
                    <figure>
                        <img src="assets/img/partner/4.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="item">
                    <figure>
                        <img src="assets/img/partner/5.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="item">
                    <figure>
                        <img src="assets/img/partner/6.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="item">
                    <figure>
                        <img src="assets/img/partner/7.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="item">
                    <figure>
                        <img src="assets/img/partner/8.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="item">
                    <figure>
                        <img src="assets/img/partner/6.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="item">
                    <figure>
                        <img src="assets/img/partner/7.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="item">
                    <figure>
                        <img src="assets/img/partner/8.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================ Our Partner end ==============//-->
<div class="clear"></div>
    {{ include('MarmitonBundle:Default:footer.html.twig') }}



{% endblock body %}

