{% extends "::base.html.twig" %}
{% block body %}
    {{ include('MarmitonBundle:Default:header.html.twig') }}
<div class="clear"></div>

    {% trans_default_domain 'MarmitonBundle' %}

<!--//================preloader  start==============//-->
<div class="preloader">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="first_object"></div>
            <div class="object" id="second_object"></div>
            <div class="object" id="third_object"></div>
            <div class="object" id="forth_object"></div>
        </div>
    </div>
</div>
<!--//================preloader  end==============//-->
<!--//================Header start==============//-->
<header class="positionR">
    <div class="top-bar padTB30">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <a class="navbar-brand" href="index.html">
                        <img class="site_logo" alt="Site Logo"  src="assets/img/logo.png" />
                    </a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
                    <div class="contact-info pull-right padTB5">
                        <a href="book-table.html" class="itg-button">Book table</a>
                    </div>
                    <div class="contact-info pull-right padTB5">
                        <div class="pull-left">
                            <a href="#" class="theme-circle marR10"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>
                        <div class="pull-left">
                            <h5>Email us :</h5>
                            <p> info@gmail.com</p>
                        </div>
                    </div>
                    <div class="contact-info pull-right padTB5">
                        <div class="pull-left">
                            <a href="#" class="theme-circle marR10"><i class="fa fa-phone" aria-hidden="true"></i></a>
                        </div>
                        <div class="pull-left">
                            <h5>Call us :</h5>
                            <p>+5584925214</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-menu" class="wa-main-menu">
        <!-- Menu -->
        <div class="wathemes-menu relative">
            <!-- navbar -->
            <div class="navbar navbar-default black-bg mar0" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="navigation-icon custom-drop">
                                    <ul class="social-icon top-bar-icon">
                                        <li><a href="#" class="theme-circle marL10"><i class="fa fa-facebook" aria-hidden="true"></i><span>facebook</span></a></li>
                                        <li><a href="#" class="theme-circle marL10"><i class="fa fa-twitter" aria-hidden="true"></i><span>twitter</span></a></li>
                                        <li><a href="#" class="theme-circle marL10"><i class="fa fa-google-plus" aria-hidden="true"></i><span>google</span></a></li>
                                        <li><a href="#" class="theme-circle marL10"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart(3)</span></a></li>
                                        <li>
                                            <a href="#" class="theme-circle marL10"><i class="fa fa-search" aria-hidden="true"></i></a>
                                            <form class="search_bar custom-dropdown">
                                                <input type="text" name="search" placeholder="Search..">
                                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <div class="navbar-header">
                                    <!-- Button For Responsive toggle -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <!-- Logo -->
                                </div>
                                <!-- Navbar Collapse -->
                                <div class="navbar-collapse collapse">
                                    <!-- nav -->
                                    <ul class="nav navbar-nav">
                                        <li><a href="index.html">home</a></li>
                                        <li><a href="menu.html">menu</a></li>
                                        <li>
                                            <a href="#">services<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="service.html">services</a></li>
                                                <li><a href="service-2.html">service 2</a></li><li><a href="service-detail.html">service detail</a></li>
                                                <li><a href="filter.html">filter</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">pages<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="book-table.html">book table</a></li>
                                                <li>
                                                    <a href="#">about
                                                        <i class="fa fa-angle-right hidden-xs" aria-hidden="true"></i>
                                                        <i class="fa fa-angle-down hidden-md hidden-sm hidden-lg" aria-hidden="true"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="about-us.html">about us</a></li>
                                                        <li><a href="our-chef.html">our chef</a></li>
                                                        <li><a href="chef-detail.html">chef detail</a></li>
                                                    </ul>
                                                </li>
                                                <li class="left-side">
                                                    <a href="#">gallery
                                                        <i class="fa fa-angle-right hidden-xs" aria-hidden="true"></i>
                                                        <i class="fa fa-angle-down hidden-md hidden-sm hidden-lg" aria-hidden="true"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="gallery-style-1.html">style 1</a></li>
                                                        <li><a href="gallery-style-2.html">style 2</a></li>
                                                        <li><a href="gallery-style-3.html">style 3</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">dishes
                                                        <i class="fa fa-angle-right hidden-xs" aria-hidden="true"></i>
                                                        <i class="fa fa-angle-down hidden-md hidden-sm hidden-lg" aria-hidden="true"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="dishes.html">our dishes</a></li>
                                                        <li><a href="dish-detail.html">dishe detail</a></li>
                                                        <li><a href="dish-detail-left-sidebar.html">with left sidebar</a></li>
                                                        <li><a href="dish-detail-right-sidebar.html">with right Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="left-side">
                                                    <a href="#">comming soon
                                                        <i class="fa fa-angle-right hidden-xs" aria-hidden="true"></i>
                                                        <i class="fa fa-angle-down hidden-md hidden-sm hidden-lg" aria-hidden="true"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="comming-soon-1.html">comming soon 1</a></li>
                                                        <li><a href="comming-soon-2.html">comming soon 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="faq.html">faq</a></li>
                                                <li><a href="user-profile.html">user</a></li>
                                                <li><a href="register.html">register</a></li>
                                                <li><a href="404-error.html">404 error</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">blog<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog-style-1.html">Blogs Style 1</a></li>
                                                <li><a href="blog-style-2.html">Blogs Style 2</a></li>
                                                <li><a href="blog-style-3.html">Blogs Style 3</a></li>
                                                <li><a href="blog-style-4.html">Blogs Style 4</a></li>
                                                <li><a href="blog-style-5.html">Blogs Style 5</a></li>
                                                <li>
                                                    <a href="#">Single Blog
                                                        <i class="fa fa-angle-right hidden-xs" aria-hidden="true"></i>
                                                        <i class="fa fa-angle-down hidden-md hidden-sm hidden-lg" aria-hidden="true"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="blog-full-with-sidebar.html">With left Sidebar</a></li>
                                                        <li><a href="blog-full-with-right-sidebar.html">With right Sidebar</a></li>
                                                        <li><a href="blog-full.html">Without Sidebar</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">contact us<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="contact-us.html">Style 1</a></li>
                                                <li><a href="contact-us-style-2.html">Style 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- navbar-collapse -->
                            </div>
                        </div>
                        <!-- col-md-12 -->
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- navbar -->
        </div>
        <!--  Menu -->
    </div>
</header>
<!--//================Header end==============//-->
<div class="clear"></div>
<!--//================Bredcrumb starts==============//-->
<section>
    <div class="bredcrumb-section padTB100 positionR">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-head">
                        <div class="page-header-heading">
                            <h3 class="theme-color">Blog</h3>
                        </div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb colorW marB0">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="active">Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Bredcrumb end==============//-->
<div class="clear"></div>
<!--//================Blog start==============//-->
<section class="padT100 padB70">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 pull-right">
                <div class="row marB20">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog theme-hover sticker marB30">
                            <figure class="marB20">
                                <img src="assets/img/blog/grid-1.jpg" alt="">
                            </figure>
                            <h3 class="marB10"><a href="#">Mauris lacinia lactus</a></h3>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing
                                adipisicing sed do eiusmod tempor sed do eius.
                            </p>
                            <a href="#" class="itg-button">Read More</a>
                            <div class="sticker-box">
                                <span class="sticker-tag"><i class="fa fa-calendar marR5" aria-hidden="true"></i> September 5 2017</span>
                                <br>
                                <span class="sticker-tag"><i class="fa fa-comment marR5" aria-hidden="true"></i>10 Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog theme-hover sticker marB30">
                            <figure class="marB20">
                                <img src="assets/img/blog/grid-2.jpg" alt="">
                            </figure>
                            <h3 class="marB10"><a href="#">Mauris lacinia lactus</a></h3>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing
                                adipisicing sed do eiusmod tempor sed do eius.
                            </p>
                            <a href="#" class="itg-button">Read More</a>
                            <div class="sticker-box">
                                <span class="sticker-tag"><i class="fa fa-calendar marR5" aria-hidden="true"></i> September 5 2017</span>
                                <br>
                                <span class="sticker-tag"><i class="fa fa-comment marR5" aria-hidden="true"></i>10 Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog theme-hover sticker marB30">
                            <figure class="marB20">
                                <img src="assets/img/blog/grid-3.jpg" alt="">
                            </figure>
                            <h3 class="marB10"><a href="#">Mauris lacinia lactus</a></h3>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing
                                adipisicing sed do eiusmod tempor sed do eius.
                            </p>
                            <a href="#" class="itg-button">Read More</a>
                            <div class="sticker-box">
                                <span class="sticker-tag"><i class="fa fa-calendar marR5" aria-hidden="true"></i> September 5 2017</span>
                                <br>
                                <span class="sticker-tag"><i class="fa fa-comment marR5" aria-hidden="true"></i>10 Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog theme-hover sticker marB30">
                            <figure class="marB20">
                                <img src="assets/img/blog/grid-4.jpg" alt="">
                            </figure>
                            <h3 class="marB10"><a href="#">Mauris lacinia lactus</a></h3>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing
                                adipisicing sed do eiusmod tempor sed do eius.
                            </p>
                            <a href="#" class="itg-button">Read More</a>
                            <div class="sticker-box">
                                <span class="sticker-tag"><i class="fa fa-calendar marR5" aria-hidden="true"></i> September 5 2017</span>
                                <br>
                                <span class="sticker-tag"><i class="fa fa-comment marR5" aria-hidden="true"></i>10 Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog theme-hover sticker marB30">
                            <figure class="marB20">
                                <img src="assets/img/blog/grid-5.jpg" alt="">
                            </figure>
                            <h3 class="marB10"><a href="#">Mauris lacinia lactus</a></h3>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing
                                adipisicing sed do eiusmod tempor sed do eius.
                            </p>
                            <a href="#" class="itg-button">Read More</a>
                            <div class="sticker-box">
                                <span class="sticker-tag"><i class="fa fa-calendar marR5" aria-hidden="true"></i> September 5 2017</span>
                                <br>
                                <span class="sticker-tag"><i class="fa fa-comment marR5" aria-hidden="true"></i>10 Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog theme-hover sticker marB30">
                            <figure class="marB20">
                                <img src="assets/img/blog/grid-6.jpg" alt="">
                            </figure>
                            <h3 class="marB10"><a href="#">Mauris lacinia lactus</a></h3>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing
                                adipisicing sed do eiusmod tempor sed do eius.
                            </p>
                            <a href="#" class="itg-button">Read More</a>
                            <div class="sticker-box">
                                <span class="sticker-tag"><i class="fa fa-calendar marR5" aria-hidden="true"></i> September 5 2017</span>
                                <br>
                                <span class="sticker-tag"><i class="fa fa-comment marR5" aria-hidden="true"></i>10 Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog theme-hover sticker marB30">
                            <figure class="marB20">
                                <img src="assets/img/blog/grid-7.jpg" alt="">
                            </figure>
                            <h3 class="marB10"><a href="#">Mauris lacinia lactus</a></h3>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing
                                adipisicing sed do eiusmod tempor sed do eius.
                            </p>
                            <a href="#" class="itg-button">Read More</a>
                            <div class="sticker-box">
                                <span class="sticker-tag"><i class="fa fa-calendar marR5" aria-hidden="true"></i> September 5 2017</span>
                                <br>
                                <span class="sticker-tag"><i class="fa fa-comment marR5" aria-hidden="true"></i>10 Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog theme-hover sticker marB30">
                            <figure class="marB20">
                                <img src="assets/img/blog/grid-8.jpg" alt="">
                            </figure>
                            <h3 class="marB10"><a href="#">Mauris lacinia lactus</a></h3>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing
                                adipisicing sed do eiusmod tempor sed do eius.
                            </p>
                            <a href="#" class="itg-button">Read More</a>
                            <div class="sticker-box">
                                <span class="sticker-tag"><i class="fa fa-calendar marR5" aria-hidden="true"></i> September 5 2017</span>
                                <br>
                                <span class="sticker-tag"><i class="fa fa-comment marR5" aria-hidden="true"></i>10 Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog theme-hover sticker marB30">
                            <figure class="marB20">
                                <img src="assets/img/blog/grid-9.jpg" alt="">
                            </figure>
                            <h3 class="marB10"><a href="#">Mauris lacinia lactus</a></h3>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing
                                adipisicing sed do eiusmod tempor sed do eius.
                            </p>
                            <a href="#" class="itg-button">Read More</a>
                            <div class="sticker-box">
                                <span class="sticker-tag"><i class="fa fa-calendar marR5" aria-hidden="true"></i> September 5 2017</span>
                                <br>
                                <span class="sticker-tag"><i class="fa fa-comment marR5" aria-hidden="true"></i>10 Comment</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="pagination-box text-right marB30">
                            <a href="#"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span></a>
                            <a href="#"><span>1</span></a>
                            <a href="#"><span>2</span></a>
                            <a href="#"><span>3</span></a>
                            <a href="#"><span>4</span></a>
                            <a href="#"><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 pull-left">
                <div class="row">
                    <div class="sidebar">
                        <div class="col-xs-12">
                            <div class="sidebar-box marB30">
                                <div class="col-xs-12">
                                    <div class="search_bar">
                                        <input type="text" name="search" placeholder="Search..">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="sidebar-box">
                                <div class="col-xs-12">
                                    <h4 class="marB20">Categories</h4>
                                    <ul class="meta-link">
                                        <li><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>Blog</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>Gallery</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>Service</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>Site Map</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>About us</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="sidebar-box">
                                <div class="col-xs-12">
                                    <h4 class="marB20">Latest tweets</h4>
                                    <div class="tweets marB30">
                                        <h5 class="marB10"><i class="fa fa-twitter marR10" aria-hidden="true"></i>@Restaurent.com</h5>
                                        <p>Lorem ipsum dolor sit aconsecte tuadip iscing elit Fusce fermen</p>
                                        <p><a href="#" class="theme-color">www.itg.Com</a></p>
                                        <p><i>4 hour ago</i></p>
                                    </div>
                                    <div class="tweets">
                                        <h5 class="marB10"><i class="fa fa-twitter marR10" aria-hidden="true"></i>@Restaurent.com</h5>
                                        <p>Lorem ipsum dolor sit aconsecte tuadip iscing elit Fusce fermen</p>
                                        <p><a href="#" class="theme-color">www.itg.Com</a></p>
                                        <p><i>5 hour ago</i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="sidebar-box">
                                <div class="col-xs-12">
                                    <h4 class="marB20">Feature post</h4>
                                    <div class="feature-post marB10">
                                        <div class="col-md-4 col-sm-4 col-xs-4 padL0">
                                            <figure>
                                                <img src="assets/img/blog/sidebar-1.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 padL0 padR0 text-left">
                                            <p>Lorem Ipsum dummy text of the and typesethe industry</p>
                                            <p><a href="#" class="theme-color"> Read More</a></p>
                                        </div>
                                    </div>
                                    <div class="feature-post marB10">
                                        <div class="col-md-4 col-sm-4 col-xs-4 padL0">
                                            <figure>
                                                <img src="assets/img/blog/sidebar-2.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 padL0 padR0 text-left">
                                            <p>Lorem Ipsum dummy text of the and typesethe industry</p>
                                            <p><a href="#" class="theme-color"> Read More</a></p>
                                        </div>
                                    </div>
                                    <div class="feature-post marB10">
                                        <div class="col-md-4 col-sm-4 col-xs-4 padL0">
                                            <figure>
                                                <img src="assets/img/blog/sidebar-3.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 padL0 padR0 text-left">
                                            <p>Lorem Ipsum dummy text of the and typesethe industry</p>
                                            <p><a href="#" class="theme-color"> Read More</a></p>
                                        </div>
                                    </div>
                                    <div class="feature-post marB10">
                                        <div class="col-md-4 col-sm-4 col-xs-4 padL0">
                                            <figure>
                                                <img src="assets/img/blog/sidebar-4.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 padL0 padR0 text-left">
                                            <p>Lorem Ipsum dummy text of the and typesethe industry</p>
                                            <p><a href="#" class="theme-color"> Read More</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="sidebar-box">
                                <div class="col-xs-12">
                                    <h4 class="marB20">Join us</h4>
                                    <p>
                                        <a href="#" class="marR20 colorB"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                        <a href="#" class="marR20 colorB"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
                                        <a href="#" class="marR20 colorB"><span><i class="fa fa-google-plus" aria-hidden="true"></i></span></a>
                                        <a href="#" class="marR20 colorB"><span><i class="fa fa-skype" aria-hidden="true"></i></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Blog end==============//-->
<!--//================Footer end==============//-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugin/megamenu/js/hover-dropdown-menu.js"></script>
<script src="assets/plugin/megamenu/js/jquery.hover-dropdown-menu-addon.js"></script>
<script src="assets/plugin/owl-carousel/js/owl.carousel.min.js"></script>


<script type="text/javascript" src="assets/plugin/counter/js/jquery.countTo.js"></script>
<script type="text/javascript" src="assets/plugin/counter/js/jquery.appear.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>

    <div class="clear"></div>
    {{ include('MarmitonBundle:Default:footer.html.twig') }}



{% endblock body %}